<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Spring Boot Thymeleaf Hello World Example</title>

    <link rel="stylesheet" th:href="@{webjars/bootstrap/4.2.1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>

</head>

<body>

<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="/">Добавление источника новостей</a>
    <a class="navbar-brand" href="/news-list">Список новостей</a>
</nav>

<main role="main" class="container">

    <h1>Добавьте источник новостей</h1>
    <form action="#" th:action="@{/addNewsSource}" th:object="${newsSource}" method="post" enctype="multipart/form-data">
        <p>Введите название новостного сайта: <input type="text" th:field="*{name}" /></p>
        <p>Введите адрес новостного сайта или его RSS-ленты: <input type="text" th:field="*{url}" /></p>
        <p>Выберите файл с правилами парсинга: <input type="file" name="file" /></p>
        <p><input type="submit" value="Добавить источник" /> <input type="reset" value="Стереть данные формы" /></p>
    </form>
</main>
<!-- /.container -->

<script type="text/javascript" th:src="@{webjars/bootstrap/4.2.1/js/bootstrap.min.js}"></script>
</body>
</html>
